.title {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: springgreen;
}

img {
    border-radius: 50%;
    width: 250px;
}

#section1 {
    background-image: url(./Images/code_flow.jpg);
    background-size: cover;
    background-position: 80%;
}

#section2 {
    background-image: url(./Images/laptop.jpg);
    background-size: cover;
    background-position: 80%;
}

#section3 {
    background-image: url(./Images/books.jpg);
    background-size: cover;
    background-position: 80%;
}

#bioSection {
    font-size: 30px;
    text-align: center;
    height: 850px;
    color: springgreen;
    font-family: 'Nunito Sans', sans-serif;
}



.skillsList {
    text-align: center;
    color: darkred;
}

#stackSection {
    font-size: 30px;
    text-align: center;
    height: 850px;
    color: darkred;
    font-family: 'Nunito Sans', sans-serif;
}

.jsSkillPic {
    image-rendering: auto;
}